<div class="h-full ml-14 mb-10 md:ml-64" style="padding-top: 110px;">
  <h1 class="text-3xl font-bold mb-6 text-gray-800"><%= t "dashboard.title" %></h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    <div class="bg-white p-6 rounded-lg shadow-lg flex items-center hover:shadow-xl transition-shadow duration-200">
      <i class="fas fa-th-list text-3xl mr-4 text-blue-500"></i>
      <div>
        <h2 class="text-lg font-semibold text-gray-700"><%= t "dashboard.total_categories" %></h2>
        <p class="text-3xl font-bold text-gray-900"><%= @total_categories %></p>
      </div>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg flex items-center hover:shadow-xl transition-shadow duration-200">
      <i class="fas fa-box text-3xl mr-4 text-green-500"></i>
      <div>
        <h2 class="text-lg font-semibold text-gray-700"><%= t "dashboard.total_products" %></h2>
        <p class="text-3xl font-bold text-gray-900"><%= @total_products %></p>
      </div>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg flex items-center hover:shadow-xl transition-shadow duration-200">
      <i class="fas fa-users text-3xl mr-4 text-purple-500"></i>
      <div>
        <h2 class="text-lg font-semibold text-gray-700"><%= t "dashboard.total_users" %></h2>
        <p class="text-3xl font-bold text-gray-900"><%= @total_users %></p>
      </div>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg flex items-center hover:shadow-xl transition-shadow duration-200">
      <i class="fas fa-shopping-cart text-3xl mr-4 text-orange-500"></i>
      <div>
        <h2 class="text-lg font-semibold text-gray-700"><%= t "dashboard.total_orders" %></h2>
        <p class="text-3xl font-bold text-gray-900"><%= @total_orders %></p>
      </div>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg col-span-1 md:col-span-2 lg:col-span-4 flex items-center hover:shadow-xl transition-shadow duration-200">
      <i class="fas fa-dollar-sign text-3xl mr-4 text-yellow-500"></i>
      <div>
        <h2 class="text-lg font-semibold text-gray-700"><%= t "dashboard.total_revenue" %></h2>
        <p class="text-3xl font-bold text-gray-900"><%= "#{number_to_currency(@total_revenue, unit: "", precision: 0)} ₫" %></p>
      </div>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg flex items-center hover:shadow-xl transition-shadow duration-200">
      <i class="fas fa-star text-3xl mr-4 text-yellow-500"></i>
      <div>
        <h2 class="text-lg font-semibold text-gray-700"><%= t "dashboard.highest_rated_product" %></h2>
        <p class="text-3xl font-bold text-gray-900"><%= @highest_rated_product.name %> - <%= @highest_rated_product.rating %></p>
      </div>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg flex items-center hover:shadow-xl transition-shadow duration-200">
      <i class="fas fa-user-check text-3xl mr-4 text-teal-500"></i>
      <div>
        <h2 class="text-lg font-semibold text-gray-700"><%= t "dashboard.top_user" %></h2>
        <p class="text-3xl font-bold text-gray-900"><%= @top_user.user_name %> - <%= @top_user_order_count %> <%= t "dashboard.orders" %></p>
      </div>
    </div>
  </div>

  <div class="mt-8 bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold mb-4"><%= t "dashboard.monthly_revenue" %></h2>
    <% if @monthly_revenue.empty? %>
      <p class="text-gray-500"><%= t "dashboard.no_revenue" %></p>
    <% else %>
      <%= line_chart @monthly_revenue, xtitle: "#{t("dashboard.month")}", ytitle: "#{t("dashboard.revenue")}", height: "400px", legend: false %>
    <% end %>
  </div>

  <div class="mt-8 bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold mb-4"><%= t "dashboard.order_statistics" %></h2>
    <% order_data = @order_status_counts.map { |status, data| [data[:name], data[:count]] }.to_h %>
    <% if order_data.values.all?(&:zero?) %>
      <p class="text-gray-500"><%= t "dashboard.no_order_data" %></p>
    <% else %>
      <%= column_chart order_data, xtitle: "#{t("dashboard.status")}", ytitle: "#{t("dashboard.count")}", height: "400px" %>
    <% end %>
  </div>

  <div class="mt-8 bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold mb-4"><%= t "dashboard.product_statistics" %></h2>
    <% if @product_stock_counts.values.all?(&:zero?) %>
      <p class="text-gray-500"><%= t "dashboard.no_product_data" %></p>
    <% else %>
      <% product_data = @product_stock_counts.map { |product, stock| [product.name, stock] }.to_h %>
      <%= line_chart product_data, xtitle: "#{t("dashboard.products")}", ytitle: "#{t("dashboard.stock")}", height: "400px" %>
    <% end %>
  </div>

  <div class="mt-8 bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold mb-4"><%= t "dashboard.rating_statistics" %></h2>
    <% if @rating_counts.values.all?(&:zero?) %>
      <p class="text-gray-500"><%= t "dashboard.no_rating_data" %></p>
    <% else %>
      <%= pie_chart @rating_counts, legend: true, height: "400px", labels: @rating_counts.keys.map { |star| "#{star} #{t("dashboard.stars")}" } %>
    <% end %>
  </div>

</div>
