<div style="margin: 16px 0; width: 100px;">
  <%= image_tag "https://res.cloudinary.com/dehtz255h/image/upload/v1729499112/ho7csyihuomx1d4lgp8x.svg", alt: "Logo" %>
</div>
<p><%= t('.greeting', email: @resource.email) %></p>
<p><%= t('.request_message') %></p>
<p><%= link_to t('.change_link'), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t('.ignore_message') %></p>
<p><%= t('.reminder') %></p>
